torch>=2.2.0
transformers>=4.52.0
datasets>=3.0.0
evaluate>=0.4.3
accelerate>=1.7.0

scikit-learn>=1.6.0
pandas>=2.2.0
numpy>=2.0.0

wandb>=0.20.0
huggingface_hub>=0.33.0

requests>=2.32.0
tqdm>=4.67.0

pytest>=8.3.0